---
import { getCollection } from "astro:content";

import PageTitle from "../../components/PageTitle.astro";
import { cn } from "../../utils/helpers";
import BaseLayout from "../../layouts/BaseLayout.astro";

// 1. Generate a new path for every collection entry
export async function getStaticPaths() {
  const blogEntries = await getCollection("posts");
  return blogEntries.map((entry) => ({
    params: { slug: entry.slug },
    props: { entry },
  }));
}

// 2. For your template, you can get the entry directly from the prop
const { entry } = Astro.props;
const { Content } = await entry.render();
---

<BaseLayout title={entry.data.title}>
  {entry.data.draft && <div class="text-center">draft</div>}
  <PageTitle className="md:mb-8">{entry.data.title}</PageTitle>
  <div class="text-center mb-16">
    <p>Published {entry.data.publishedDate.toLocaleDateString("sv-SE")}</p>
    {
      entry.data.updatedDate && (
        <p>
          Last updated {entry.data.publishedDate.toLocaleDateString("sv-SE")}
        </p>
      )
    }
  </div>
  <article
    class={cn(
      "prose prose-zinc dark:prose-invert lg:prose-xl mx-auto pb-16",
      "prose-code:before:hidden prose-code:after:hidden", // Remove the backticks for inline code
      "prose-a:no-underline",
    )}
  >
    <Content />
  </article>
</BaseLayout>
