---
const { entry } = Astro.props;
---

<div class="max-w-3xl m-auto">
  {entry.data.draft && <div>draft</div>}
  <div transition:name={`post-title-${entry.slug}`}>
    <h1 class="text-3xl font-bold mb-4">{entry.data.title}</h1>
    <div
      class="mb-8 pb-8 border-b border-zinc-300 dark:border-zinc-600 text-zinc-700 dark:text-zinc-400"
    >
      <p>
        Published: {entry.data.publishedDate.toLocaleDateString("sv-SE")}
      </p>
      {
        entry.data.updatedDate && (
          <p>
            Last updated {entry.data.updatedDate.toLocaleDateString("sv-SE")}
          </p>
        )
      }
    </div>
  </div>
</div>
