---
import BaseLayout from "../layouts/BaseLayout.astro";
import PageTitle from "../components/PageTitle.astro";
import DefaultBody from "../components/article/DefaultBody.astro";
---

<BaseLayout title="About me">
  <DefaultBody>
    <PageTitle>About me</PageTitle>
    <p>
      If you somehow found your way to this page, well done! This is work in
      progress, so don't tell anyone else just yet.
    </p>
    <h2>Timeline</h2>
    <ul>
      <li>1986: Born in Gothenburg, Sweden</li>
      <li>1999: Started playing guitarr</li>
      <li>
        2003: Attends <a href="https://nti.se/">NTI</a> senior high school
      </li>
      <li>
        2005: Spent the winter in <a
          href="https://www.gastein.com/en/gastein/gastein-valley/bad-gastein/"
          >Bad Gastein, Austria</a
        >
      </li>
      <li>
        2006: Moved to California to study at <a href="https://www.smc.edu/"
          >Santa Monica College</a
        >
      </li>
      <li>
        2007: Moved to Oslo, working as a truck driver for <a
          href="https://www.diplom-is.no/">Diplom Is</a
        >
      </li>
      <li>
        2009: Studied <a href="https://www.yrgo.se/program/webbutvecklare/"
          >Web Development at Yrgo</a
        >
      </li>
      <li>
        2011: Worked at Nodeone, currently known as <a
          href="https://www.digitalist.se/">Digitalist</a
        >
      </li>
      <li>
        2012: Cerficied <a
          href="https://www.scrum.org/assessments/professional-scrum-master-i-certification"
          >professional Scrum Master</a
        > 1
      </li>
      <li>
        2013: Worked at <a href="https://understandit.se/">Understand It</a>
      </li>
      <li>2015: Program manager at <a href="https://www.yrgo.se/">Yrgo</a></li>
      <li>
        2015: Studied philosophy at the <a
          href="https://www.gu.se/studera/hitta-utbildning/teoretisk-filosofi-grundkurs-ft1100"
          >University of Gothenburg</a
        >
      </li>
      <li>2016: Career break, started travelling the world</li>
      <li>2016: Attended a 10 day silent retreat in Yangon, Myanmar</li>
      <li>2017: Yoga teacher training in Kerala, India</li>
      <li>2018: Taught yoga in South America</li>
      <li>
        2019: Settled in Colombia, started working at <a
          href="https://www.hugeinc.com/">Huge</a
        >
      </li>
      <li>
        2021: Certified GCP <a
          href="https://www.credential.net/e5fcfae5-5c3e-4403-86f0-3c0d79b1f99b?key=3dd7cae2b1abeda9412a8baae46a4ea3c677f85ab9820369ee09b8105f5e9dcf"
          >Associate Clouds Engineer</a
        >
      </li>
      <li>2022: Moved back to Gotheburg, Sweden</li>
      <li>
        2022: Worked on <a href="https://anotherblock.com/">Anotherblock</a>, a
        blockchain startup
      </li>
      <li>
        2022: Started my own consultancy company, <a
          href="https://www.allabolag.se/5594076126/white-fluffy-clouds-ab"
          >White Fluffy Clouds</a
        >
      </li>
      <li>2023: Started teaching at <a href="https://www.yrgo.se/">Yrgo</a></li>
      <li>2023: Joined <a href="https://www.kvadrat.se/">Kvadrat</a></li>
      <li>
        2024: Consultancy work at <a href="https://www.volvocars.com/"
          >Volvo Cars</a
        >
      </li>
      <li>
        2024: Bought <a
          href="https://www.korg.com/se/products/synthesizers/minilogue_xd/"
          >my first synth</a
        >
      </li>
    </ul>
  </DefaultBody>
</BaseLayout>
