---
import BaseLayout from "../layouts/BaseLayout.astro";
import SkillLabelList from "../components/SkillLabelList.astro";

const pageTitle = "About";
---

<BaseLayout title={pageTitle}>
  <main>
    <h1 class="text-4xl mb-12">{pageTitle}</h1>
  </main>
</BaseLayout>
