---
import PageLayout from "../layouts/PageLayout.astro";

const pageTitle = "a page title";
---

<PageLayout title={pageTitle}>
  <main>
    <h1 class="text-teal-800">{pageTitle}</h1>
  </main>
</PageLayout>
