---
import BaseLayout from "../layouts/BaseLayout.astro";

const pageTitle = "A page title";
---

<BaseLayout title={pageTitle}>
  <main>
    <h1 class="text-teal-800">{pageTitle}</h1>
  </main>
</BaseLayout>
