---
import BaseLayout from "../layouts/BaseLayout.astro";
import SkillLabelList from "../components/SkillLabelList.astro";

const pageTitle = "About";
---

<BaseLayout title={pageTitle}>
  <main>
    <h1 class="text-4xl mb-12">{pageTitle}</h1>

    <h2 class="mb-3 text-2xl">Main skillset and tools</h2>
    <SkillLabelList
      bg="bg-pink-800"
      size="lg"
      skills={[
        "TypeScript",
        "React",
        "Next.js",
        "Tailwind",
        "Web3",
        "React Query",
        "Git",
        "Github",
        "UI/UX",
        "API integrations",
        "Turborepo",
        "Vercel",
        "iTerm",
        "VS Code",
        "Technical Leadership",
        "Product Management",
        "Agile development",
        "Scrum",
        "Kanban",
      ]}
    />

    <h2 class="mb-3 text-2xl mt-8">Currently curious about</h2>
    <SkillLabelList
      bg="bg-teal-800"
      size="lg"
      skills={["Ethereum", "Smart Contracts", "tRPC", "Content Creation"]}
    />

    <h2 class="mb-3 text-2xl mt-8">Additional tools and skills</h2>
    <SkillLabelList
      bg="bg-gray-600"
      skills={[
        "MacOS",
        "REST",
        "GraphQL",
        "Node.js",
        "NPM",
        "Yarn",
        "CSS-in-JS",
        "Stitches",
        "Docker",
        "SQL",
        "Linux",
        "Firebase",
        "Flutter",
        "Dart",
        "Express.js",
        "GCP",
        "AWS",
        "Heroku",
        "wagmi",
        "ethers.js",
        "Storybook",
        "Zustand",
        "SWR",
      ]}
    />

    <h2 class="mb-3 text-2xl mt-8">Legacy (haven't worked with in years)</h2>
    <SkillLabelList
      bg="bg-gray-600"
      size="sm"
      skills={[
        "PHP",
        "Drupal",
        "Bootstrap",
        "MongoDB",
        "Mongoose",
        "MUI",
        "Redux",
        "Gatsby",
        "Preact",
        "Socket.IO",
      ]}
    />
  </main>
</BaseLayout>
