---
import BaseLayout from "../layouts/BaseLayout.astro";
import BlogPostTeaser from "../components/BlogPostTeaser.astro";

const allPosts = await Astro.glob("./blog/*.md");
---

<BaseLayout title="Blog">
  <main>
    <h1 class="text-blue-600">Blog</h1>

    <div>
      {allPosts.map((post) => <BlogPostTeaser post={post} />)}
    </div>
  </main>
</BaseLayout>
