---
import SectionHeader from "../components/SectionHeader.astro";
import BaseLayout from "../layouts/BaseLayout.astro";
import SkillsetSection from "../sections/SkillsetSection.astro";
import TestimonialsSection from "../sections/TestimonialsSection.astro";
---

<BaseLayout title="Welcome to Astro.">
  <main>
    <h1 class="text-7xl mb-8 text-slate-800">
      Onboard expert web development on your team today
    </h1>
    <p class="text-3xl mb-16">
      White Fluffy Clouds is the home of experienced software engineer Tobias
      Haugen. We help teams and business build excellent web applications
      together.
    </p>

    <SectionHeader>Testimonials</SectionHeader>
    <TestimonialsSection />

    <SectionHeader>Skillset</SectionHeader>
    <div class="lg:px-32">
      <SkillsetSection />
    </div>
  </main>
</BaseLayout>
