---
import SectionHeader from "../components/SectionHeader.astro";
import BaseLayout from "../layouts/BaseLayout.astro";
import HomeHeader from "../sections/HomeHeader.astro";
import SkillsetSection from "../sections/SkillsetSection.astro";
import TestimonialsSection from "../sections/TestimonialsSection.astro";
---

<BaseLayout title="Welcome to Astro.">
  <main>
    <HomeHeader />

    <ul class="flex gap-4 mt-16 justify-center text-xl">
      <li>
        <a
          href="https://www.linkedin.com/in/tobias-haugen/"
          target="_blank"
          rel="noreferrer">LinkedIn</a
        >
      </li>
      <li>
        <a
          href="https://www.toptal.com/resume/tobias-haugen"
          target="_blank"
          rel="noreferrer">Toptal</a
        >
      </li>
      <li>
        <a
          href="https://twitter.com/whitefluffyC"
          target="_blank"
          rel="noreferrer">Twitter</a
        >
      </li>
    </ul>

    <SectionHeader>Testimonials</SectionHeader>
    <TestimonialsSection />

    <SectionHeader>Skillset</SectionHeader>
    <div class="lg:px-32">
      <SkillsetSection />
    </div>
  </main>
</BaseLayout>
