---
import SectionHeader from "../components/SectionHeader.astro";
import BaseLayout from "../layouts/BaseLayout.astro";
import HomeHeader from "../sections/HomeHeader.astro";
import ProjectsSection from "../sections/ProjectsSection.astro";
import SkillsetSection from "../sections/SkillsetSection.astro";
import TestimonialsSection from "../sections/TestimonialsSection.astro";

// Don't autoplay videos on mobile? For performance
---

<BaseLayout title="I'm Tobias 👋">
  <HomeHeader />

  <SectionHeader>Notable projects</SectionHeader>
  <ProjectsSection />

  <SectionHeader>Expertise</SectionHeader>
  <div class="max-w-2xl mx-auto">
    <SkillsetSection />
  </div>

  <SectionHeader>Testimonials</SectionHeader>
  <TestimonialsSection />
</BaseLayout>
