---
import SectionHeader from "../components/SectionHeader.astro";
import BaseLayout from "../layouts/BaseLayout.astro";
import HomeHeader from "../sections/HomeHeader.astro";
import SkillsetSection from "../sections/SkillsetSection.astro";
import TestimonialsSection from "../sections/TestimonialsSection.astro";
---

<BaseLayout title="Welcome to Astro.">
  <main>
    <HomeHeader />

    <SectionHeader>Testimonials</SectionHeader>
    <TestimonialsSection />

    <SectionHeader>Skillset</SectionHeader>

    <SkillsetSection />
  </main>
</BaseLayout>
