---
import SectionHeader from "../components/SectionHeader.astro";
import BaseLayout from "../layouts/BaseLayout.astro";
import ExperienceSection from "../sections/ExperienceSection.astro";
import HomeHeader from "../sections/HomeHeader.astro";
import ProjectsSection from "../sections/ProjectsSection.astro";
import TestimonialsSection from "../sections/TestimonialsSection.astro";
---

<BaseLayout title="Welcome to Astro.">
  <main>
    <HomeHeader />

    <SectionHeader>Introduction</SectionHeader>
    <ExperienceSection />

    <SectionHeader>Notable projects</SectionHeader>
    <ProjectsSection />

    <SectionHeader>Testimonials</SectionHeader>
    <TestimonialsSection />

    <!-- <SectionHeader>Skillset</SectionHeader>
    <div class="lg:px-32">
      <SkillsetSection />
    </div> -->
  </main>
</BaseLayout>
