---
import BaseLayout from "../layouts/BaseLayout.astro";
import PageTitle from "../components/PageTitle.astro";
import DefaultBody from "../components/article/DefaultBody.astro";
---

<BaseLayout title="Now">
  <DefaultBody>
    <PageTitle>What I'm doing now</PageTitle>
    Updated <strong>April 20th 2025</strong>, from home, during a long weekend
    over Easter.

    <h2>Working at Volvo Cars</h2>
    <p>
      Since April 2023 I've been working full time at Volvo Cars in Gothenburg,
      working with both product and platform teams to improve and enhance their <a
        href="https://www.volvocars.com/">external website</a
      >. In January I went from being a consultant to being employed as a Staff
      Engineer, focusing more on big picture tech and organisational efficiency.
    </p>

    <h2>Crossfit and Padel</h2>
    <p>
      Crossfit has been my primary source of excersise for the past 6 months or
      so. As Spring and Summer is coming I'm sure I'll start sprinkle in more
      runs here and there, even if Crossfit feels great. I've also enjoyed Padel
      when I've tried is, so will aim to do more of that moving forward as well.
    </p>

    <h2>Reading Hyperion</h2>
    <p>
      I'm back into reading science fiction, and am currentl halv way through
      the first <a href="https://www.goodreads.com/book/show/77566.Hyperion"
        >Hyperion</a
      > book. I really loved The Terror, so reading something new with Dan Simmons
      feels exciting.
    </p>
  </DefaultBody>
</BaseLayout>
