---
import BaseLayout from "../layouts/BaseLayout.astro";
import PageTitle from "../components/PageTitle.astro";
import DefaultBody from "../components/article/DefaultBody.astro";
---

<BaseLayout title="Now">
  <DefaultBody>
    <PageTitle>What I'm doing now</PageTitle>
    Updated <strong>June 30th 2024</strong>, from the Kvadrat office in
    Gothenburg. It's Summer, and it's almost time for four weeks of vacation,
    which I'll spend relaxing and exploring new areas of Southern Sweden.

    <h2>Working at Volvo Cars</h2>
    <p>
      Since April 2023 I've been a full time consultant at Volvo Cars in
      Gothenburg, working with both product and platform teams to improve and
      enhance their <a href="https://www.volvocars.com/">external website</a>.
    </p>

    <h2>Teaching at Yrgo</h2>
    <p>
      I'm preparing a course in HTML and CSS for the <a
        href="https://www.yrgo.se/program/digital-designer/">Digital Designer</a
      >
      class at Yrgo, starting next semester. This will be my second time teaching
      this course.
    </p>

    <h2>Studying Golang</h2>
    <p>
      After spending years exclusively in the realm of TypeScript, I'm studying
      Golang to further broaden my knowledge. Right now, I'm reading
      <a href="https://www.amazon.se/-/en/Jon-Bodner/dp/1492077216"
        >Learning Go: An Idiomatic Approach to Real-World Go Programming</a
      > and <a href="https://github.com/Haugen/bcu">writing a small CLI</a>.
    </p>
  </DefaultBody>
</BaseLayout>
