---
import { getCollection } from "astro:content";

import BaseLayout from "../layouts/BaseLayout.astro";
import BlogPostTeaser from "../components/BlogPostTeaser.astro";
import PageTitle from "../components/PageTitle.astro";

const allPosts = await getCollection("posts", ({ data }) =>
  import.meta.env.PROD ? data.draft !== true : true,
);
---

<BaseLayout title="Posts">
  <div>
    <PageTitle>Posts</PageTitle>
    <div class="max-w-2xl mx-auto">
      {allPosts.map((post) => <BlogPostTeaser post={post} />)}
    </div>
  </div>
</BaseLayout>
