---
import type { CollectionEntry } from "astro:content";

export type Props = {
  post: CollectionEntry<"posts">;
};

const { post } = Astro.props;
---

<div transition:name={`post-title-${post.slug}`} class="mb-16">
  <div>
    <h2 class="text-3xl mb-4 font-bold">
      <a class="border-0 hover:border-0" href={`/posts/${post.slug}`}
        >{post.data.title}</a
      >
    </h2>
  </div>
  <div class="text-zinc-700 dark:text-zinc-400">
    Published: {post.data.publishedDate.toLocaleDateString("sv-SE")}
  </div>
  {post.data.draft && <div>draft</div>}
</div>
