---
import type { CollectionEntry } from "astro:content";

export type Props = {
  post: CollectionEntry<"posts">;
};

const { post } = Astro.props;
---

<div class="mb-8">
  <h2 class="text-3xl mb-4">
    <a href={`/posts/${post.slug}`}>{post.data.title}</a>
  </h2>
  <div class="text-zinc-700 dark:text-zinc-400">
    Published: {post.data.publishedDate.toLocaleDateString("sv-SE")}
  </div>
</div>
