---
import type { MarkdownInstance } from "astro";

export type Props = {
  post: MarkdownInstance<Record<string, any>>;
};

const { post } = Astro.props;
---

<div>
  <h2 class="text-xl"><a href={post.url}>{post.frontmatter.title}</a></h2>
  <div class="text-slate-700">{post.frontmatter.pubDate.slice(0, 10)}</div>
</div>
