---
import Container from "./Container.astro";
import Navigation from "./Navigation.astro";
---

<div class="py-8 bg-slate-100 mb-16">
  <Container>
    <div class="flex justify-center items-center text-xl">
      <div>White Fluffy</div>
      <!-- <div>
        <Navigation />
      </div> -->
    </div>
  </Container>
</div>
