<div class="text-xl md:w-2/3 mx-auto">
  <p class="mb-8">
    Over the holidays, I had some fun playing with the <strong
      >OpenAI API</strong
    > and built a website and <strong>Twitter bot</strong> with additional tools
    like <strong>Next.JS</strong>, <strong>Prisma</strong>, <strong
      >Planetscale</strong
    >, <strong>QStash</strong> and <strong>Tailwind</strong>.
  </p>
  <p class="text-3xl">
    Check out <a
      href="https://www.dailyhistoryfix.com/"
      target="_blank"
      rel="noreferrer">the website</a
    >, <a
      href="https://twitter.com/GPTHistoryFix"
      target="_blank"
      rel="noreferrer">Twitter bot</a
    > and <a
      href="https://github.com/Haugen/gpt-fun-fact"
      target="_blank"
      rel="noreferrer">source code on Github</a
    >.
  </p>
</div>
