---
import { cn } from "../utils/helpers";

const { className } = Astro.props;
---

<h1
  class={cn(
    "text-4xl md:text-6xl lg:text-7xl xl:text-8xl font-roboto font-black",
    "mt-20 mb-8 md:mb-24 text-center text-zinc-800 dark:text-zinc-300",
    className
  )}
>
  <slot />
</h1>
