---
import cn from "classnames";
---

<h2 class={cn("text-center text-3xl font-semibold mt-36 mb-16")}>
  <slot />
  <div
    class="h-px mt-4 bg-gradient-to-l via-green-300 from-blue-300 to-red-300"
  >
  </div>
</h2>
