---
import cn from "classnames";
import type { Sizes } from "../types";

export type Props = {
  bg?: string;
  size?: Sizes;
};

const { bg = "bg-gray-800", size = "md" } = Astro.props;

const sizes: Record<Sizes, string> = {
  xl: "text-xl",
  lg: "text-lg",
  md: "text-md",
  sm: "text-sm",
};
---

<span
  class={cn("px-2 py-1 text-white rounded-sm inline-block", bg, sizes[size])}
  ><slot />
</span>
