---
import type { Sizes } from "../types";
import SkillLabel from "./SkillLabel.astro";

export interface Props {
  title: string;
  skills: string[];
  size?: Sizes;
  bg?: string;
}

const { title, skills, size = "md", bg = "bg-gray-800" } = Astro.props;
---

<h2 class="mb-3 text-2xl mt-8">{title}</h2>
<ul class="flex flex-wrap gap-x-1 gap-y-2">
  {
    skills.map((skill) => (
      <li>
        <SkillLabel size={size} bg={bg}>
          {skill}
        </SkillLabel>
      </li>
    ))
  }
</ul>
