<ul class="flex gap-4 mt-16 justify-center text-xl">
  <li>
    <a
      href="https://www.linkedin.com/in/tobias-haugen/"
      target="_blank"
      rel="noreferrer">LinkedIn</a
    >
  </li>
  <li>
    <a
      href="https://www.toptal.com/resume/tobias-haugen"
      target="_blank"
      rel="noreferrer">Toptal</a
    >
  </li>
  <li>
    <a href="https://twitter.com/whitefluffyC" target="_blank" rel="noreferrer"
      >Twitter</a
    >
  </li>
</ul>
