---
import SkillsetSection from "./SkillsetSection.astro";
import WorkExperienceSection from "./WorkExperienceSection.astro";
---

<div class="flex flex-col gap-8 md:flex-row">
  <div class="md:w-1/2">
    <WorkExperienceSection />
  </div>
  <div class="md:w-1/2">
    <SkillsetSection />
  </div>
</div>
