---
import SocialLinks from "../components/SocialLinks.astro";
---

<footer class="py-8 mt-16 text-center bg-black text-white">
  <div>Get in touch</div>
  <h3>Let's work together</h3>
  <SocialLinks />
</footer>
