---
import cn from "classnames";

import Button from "../components/Button.astro";
import Container from "../components/Container.astro";
import SocialLinks from "../components/SocialLinks.astro";
---

<footer
  class={cn(
    "bg-zinc-900 text-zinc-100 dark:bg-zinc-100 dark:text-zinc-900",
    "py-16 mt-16 text-center"
  )}
>
  <Container>
    <h3 class="text-4xl mb-8">Drop me a message</h3>
    <p class="text-xl mb-8 max-w-md mx-auto">
      I'm always interested in connecting with friendly people in the tech
      industry.
    </p>
    <Button>Get in touch</Button>
    <SocialLinks />
    <p class="text-xs text-zinc-400 dark:text-zinc-600 mt-8">
      Tobias Haugen is incorporated in Sweden under White Fluffy Clouds AB, org.
      nr: 559407-6126.
    </p>
  </Container>
</footer>
