---
import ThemeToggler from "../components/ThemeToggler";
import HouseIcon from "../icons/House";
---

<header class="flex justify-between py-8">
  <a href="/" class="w-6 h-6 border-none block"><HouseIcon /></a>
  <ThemeToggler client:load />
</header>
