---
import { Image } from "astro:assets";

import GetInTouchButton from "../components/GetInTouchButton.preact";
---

<div class="flex items-center flex-col md:flex-row xl:mx-40 mb-36">
  <Image
    src="/profile_pic.jpg"
    width={250}
    height={250}
    loading="eager"
    alt="Tobias Haugen portrait"
    class="rounded-full mb-16 md:mb-0 md:mr-16 mx-auto"
  />
  <div>
    <h1 class="text-3xl lg:text-5xl mb-4">Hi there. I'm Tobias</h1>
    <p class="mb-4 text-xl">
      I've always liked building things on the web. These days I run my own
      small consultancy agency where I help businesses succeed in building
      products online. I always focus on adding value in all areas of a project,
      whether it's grinding dev work, technical architecture, planning, process
      or collaboration.
    </p>
    <p class="text-xl mb-6">
      Learn more about what I'm doing right <a href="/now">now</a>.
    </p>
    <div>
      <GetInTouchButton client:only="preact" />
    </div>
  </div>
</div>
