---
import { Image } from "@astrojs/image/components";
import Button from "../components/Button.astro";
---

<h1
  class="text-5xl md:text-6xl lg:text-7xl xl:text-8xl font-bold mt-16 mb-8 md:mb-24 text-slate-800 text-center"
>
  Top up your team with an expert web developer
</h1>
<div class="flex items-center flex-col md:flex-row xl:mx-40 mb-48">
  <Image
    src="/profile_pic.jpg"
    width={250}
    aspectRatio="1:1"
    alt="Image of Tobias"
    class="rounded-full mb-16 md:mb-0 md:mr-16 mx-auto"
  />
  <div class="text-2xl lg:text-3xl block">
    <p class="mb-3">
      Hi there, I'm Tobias <span class="animate-wiggle inline-block">👋</span>
    </p>
    <p>
      I've built for the web since I was a teenager, doing it professionally for
      over 10 years. These days, I'm helping teams to build great products
      together.
    </p>
    <div class="flex mt-8">
      <Button>Get in touch</Button>
    </div>
  </div>
</div>
