---
import { Image } from "astro:assets";

import GetInTouchButton from "../components/GetInTouchButton.preact";
import PageTitle from "../components/PageTitle.astro";
---

<PageTitle>
  I’m on a mission to increase wellbeing and performance in tech organizations.
</PageTitle>
<div class="flex items-center flex-col md:flex-row xl:mx-40 mb-36">
  <Image
    src="/profile_pic.jpg"
    width={250}
    height={250}
    alt="Image of Tobias"
    class="rounded-full mb-16 md:mb-0 md:mr-16 mx-auto"
  />
  <div>
    <p class="text-2xl lg:text-3xl mb-4">Hi there. I'm Tobias,</p>
    <p class="mb-8 text-xl">
      As a seasoned Tech Leader, my goal is to enhance both wellbeing and
      performance in tech organizations. I value healthy, positive environments
      that lead to happier employees and, in turn, higher performance. As a Tech
      Lead, Product Owner, or Engineer, my commitment is always to guide teams
      towards their full potential.
    </p>
    <div>
      <GetInTouchButton client:only />
    </div>
  </div>
</div>
