---
import { Image } from "@astrojs/image/components";
import Button from "../components/Button.astro";
---

<h1
  class="text-3xl md:text-5xl lg:text-6xl font-bold my-8 md:mb-16 lg:mx-24 text-slate-800 text-center"
>
  Top up your dev team with expert web development
</h1>
<div class="flex items-center flex-col md:flex-row lg:mx-32 mb-48">
  <Image
    src="/profile_pic.jpg"
    width={250}
    aspectRatio="1:1"
    alt="Image of Tobias"
    class="rounded-full mb-16 md:mb-0 md:mr-16 mx-auto"
  />
  <div class="text-xl md:text-2xl block">
    <p class="mb-3">Hi there, I'm Tobias 👋</p>
    <p>
      I've built for the web since I was a teenager, doing it professionally for
      over 10 years. These days, I'm helping teams to build great products
      together.
    </p>
    <div class="flex mt-8">
      <Button>Get in touch</Button>
    </div>
  </div>
</div>
