---
import { Image } from "@astrojs/image/components";
---

<h1
  class="text-3xl md:text-5xl lg:text-7xl mb-8 md:mb-16 text-slate-800 text-center"
>
  Onboard expert web development on your team today
</h1>
<div class="flex items-center flex-col lg:flex-row">
  <Image
    src="/profile_pic.jpg"
    width={300}
    aspectRatio="1:1"
    alt="Image of Tobias"
    class="rounded-full mb-8 md:mb-16 lg:mb-0 lg:mr-16 mx-auto"
  />
  <p class="text-xl md:text-3xl">
    White Fluffy Clouds is the home of experienced software engineer Tobias
    Haugen. We help teams and business build excellent web applications
    together.
  </p>
</div>
