---
import { Image } from "@astrojs/image/components";

import GetInTouchButton from "../components/GetInTouchButton.preact";
import PageTitle from "../components/PageTitle.astro";
---

<PageTitle>Top up your team with an expert web developer</PageTitle>
<div class="flex items-center flex-col md:flex-row xl:mx-40 mb-36">
  <Image
    src="/profile_pic.jpg"
    width={250}
    aspectRatio="1:1"
    alt="Image of Tobias"
    class="rounded-full mb-16 md:mb-0 md:mr-16 mx-auto"
  />
  <div>
    <p class="text-2xl lg:text-3xl mb-4">Hi there. I'm Tobias,</p>
    <p class="mb-8 text-xl">
      a professional software engineer with over 10 years of experience. I've
      worked with innovative startups to giants like Google, together with
      people from all over the world. I enjoy exploring new tech, AI and
      Blockchain in particular, and spend a lot of time thinking about what
      makes dev teams succeed and thrive together.
    </p>
    <div>
      <GetInTouchButton client:only />
    </div>
  </div>
</div>
