---
import Project from "../components/Project.astro";
---

<div class="grid w-full grid-cols-1 md:grid-cols-2 gap-x-8 gap-y-16">
  <Project title="Anotherblock" imageUrl="/anotherblock.jpg">
    <p class="mb-2">
      Innovative blockchain startup that distributes music royalty rights
      through NFTs. Part of the core tech team that brought the product to life
      during 2022.
    </p>
    <p>Next.JS, Tailwind, Web3, Blockchain Integration</p>
  </Project>
  <Project
    title="Google Assistant for Samsung TV"
    videoUrl="/samsung-google-assistant.mp4"
  >
    <p class="mb-2">
      Teach lead for a project where Google and Samsung collaborated to bring a
      Google Assistant app to Samsung Smart TVs. Our team at Huge developed a
      web app in Preact, that then was embedded by Samsung in a native TV app.
      Lot's of animation usage with Lottie. Project was a big success and Google
      went on to port the app to several more TV vendors.
    </p>
    <p>Preact, SCSS, API integration, Leadership</p>
  </Project>
  <Project title="Chromebooks" videoUrl="/chromebooks.mp4">
    <p class="mb-2">
      Lead the Chromebooks team at Huge during the re-development of
      chromebooks.com.
    </p>
    <p>Leadership, Grow, Internal Google tools</p>
  </Project>
  <Project title="Pigeon" imageUrl="/pigeon.jpg">
    <p class="mb-2">
      Pigeon was an app built by Google that helped New Yorkers navigate public
      transportation in the city. Was part of a small team that replicated the
      app in Flutter. Features included live line updates on stations, getting
      information on how to go from point A to point B, a social aspect, and
      lots of Google Maps usage.
    </p>
    <p>Dart, Flutter, API integration, Protocol Buffers, Google Maps</p>
  </Project>
</div>
