---
import Project from "../components/Project.astro";
---

<div class="grid w-full grid-cols-1 md:grid-cols-2 gap-x-8 gap-y-16">
  <Project
    title="Anotherblock"
    url="https://anotherblock.io/"
    imageUrl="/anotherblock.jpg"
    skills={[
      "Next.JS",
      "Tailwind",
      "Blockchain Integration",
      "API integration",
    ]}
  >
    An innovative blockchain startup that distributes music royalty rights
    through NFTs. Part of the core tech team that brought the product to life
    during 2022. Worked mostly on the front end, styling the whole website as
    well as integrating the UI with both reading and writing to the Ethereum
    blockchain.
  </Project>
  <Project
    title="Google Assistant for Samsung TV"
    videoUrl="/samsung-google-assistant.mp4"
    skills={["Preact", "SCSS", "API Integration", "Leadership"]}
  >
    Teach lead for a project where Google and Samsung collaborated to bring a
    Google Assistant app to Samsung Smart TVs. Our team at Huge developed a web
    app in Preact, that then was embedded by Samsung in a native TV app. Lot's
    of animation usage with Lottie. Project was a big success and Google later
    ported the app to several other TV vendors.
  </Project>
  <Project
    title="Chromebooks"
    url="https://chromebooks.com/"
    videoUrl="/chromebooks.mp4"
    skills={["Leadership", "Mentoring", "Grow", "Internal Google Tools"]}
  >
    Led the Chromebooks team at Huge during the re-development of
    chromebooks.com. My biggest challenge in technical leadership to date.
    Managed a development team of 9, and worked closely with product management
    and design to deliver to a demanding client.
  </Project>
  <Project
    title="Pigeon"
    imageUrl="/pigeon.jpg"
    skills={["Flutter", "API Integration", "Protocol Buffers", "Google Maps"]}
  >
    Pigeon was an app built by Google that helped people navigate public
    transportation in large American cities. I was part of a small team that
    replicated the app in Flutter for the Android market. Features included live
    updates on stations, route information, and lots of Google Maps usage. The
    project was discontinued in 2020 due to the Corona virus.
  </Project>
</div>
