---
import SkillLabelList from "../components/SkillLabelList.astro";
---

<div class="lg:px-32">
  <SkillLabelList
    title="Main skillset"
    bg="bg-gray-900"
    size="xl"
    skills={[
      "TypeScript",
      "React",
      "Next.js",
      "Tailwind",
      "Web3",
      "React Query",
      "Git",
      "Github",
      "UI/UX",
      "API integrations",
      "Turborepo",
      "Vercel",
      "iTerm",
      "VS Code",
      "MacOS",
      "Technical Leadership",
      "Product Management",
      "Agile development",
      "Scrum",
      "Kanban",
    ]}
  />

  <SkillLabelList
    title="Curious about"
    bg="bg-gray-700"
    size="lg"
    skills={[
      "Ethereum",
      "Smart Contracts",
      "tRPC",
      "Content Creation",
      "GoLang",
      "Solid.js",
      "Web Design",
    ]}
  />

  <SkillLabelList
    title="Additionals skills"
    bg="bg-gray-500"
    size="sm"
    skills={[
      "REST",
      "GraphQL",
      "Node.js",
      "NPM",
      "Yarn",
      "CSS-in-JS",
      "Stitches",
      "Docker",
      "SQL",
      "Linux",
      "Firebase",
      "Flutter",
      "Dart",
      "Express.js",
      "GCP",
      "AWS",
      "Heroku",
      "wagmi",
      "ethers.js",
      "Storybook",
      "Zustand",
      "SWR",
    ]}
  />

  <SkillLabelList
    title="Some experience with"
    bg="bg-gray-400"
    size="sm"
    skills={[
      "PHP",
      "Drupal",
      "Bootstrap",
      "MongoDB",
      "Mongoose",
      "MUI",
      "Redux",
      "Gatsby",
      "Preact",
      "Socket.IO",
    ]}
  />
</div>
