---
import Testimonial from "../components/Testimonial.astro";
---

<div class="flex flex-wrap justify-center">
  <Testimonial
    name="Mattias Johansson"
    title="Senior Product Designer @Spotify"
  >
    "Tobias is a unique person and developer that pays great attention to
    people, weather it is managing an agile team or directly in client
    relations.""
  </Testimonial>
  <Testimonial
    name="Daniella Eguiguren"
    title="Senior Technical Producer @Google"
  >
    "What I admire most about Tobias (and why I would recommend him hands down,
    every time) is his cheerful disposition and effective leadership style."
  </Testimonial>
  <Testimonial name="Dany Zambrano" title="Engineering Manager @ADDI">
    "Tobias is a motivated, hard-working, and intelligent Leader who is an
    expert in his area."
  </Testimonial>
</div>
