---
import Container from "../components/Container.astro";
import Footer from "../sections/Footer.astro";
import Header from "../sections/Header.astro";
import "../styles/global.css";

export type Props = {
  title: string;
  description?: string;
};

const {
  title,
  description = "a professional software engineer with over 10 years of experience. I've worked with innovative startups to giants like Google, together with people from all over the world. I enjoy exploring new tech, AI an Blockchain in particular, and spend a lot of time thinking about what makes dev teams succeed and thrive together.",
} = Astro.props;
---

<script is:inline>
  const theme = (() => {
    if (
      typeof localStorage !== "undefined" &&
      localStorage.getItem("fluffy_theme")
    ) {
      return localStorage.getItem("fluffy_theme");
    }
    if (window.matchMedia("(prefers-color-scheme: dark)").matches) {
      return "dark";
    }
    return "light";
  })();

  if (theme === "light") {
    document.documentElement.classList.remove("dark");
  } else {
    document.documentElement.classList.add("dark");
  }
  window.localStorage.setItem("fluffy_theme", theme);
</script>

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="description" content={description} />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <Container>
      <Header />
      <slot />
    </Container>
    <Footer />
  </body>
</html>
