---
import Container from "../components/Container.astro";
import Footer from "../sections/Footer.astro";
import ThemeToggler from "../components/ThemeToggler";
import "../styles/global.css";

export type Props = {
  title: string;
};

const { title } = Astro.props;
---

<script is:inline>
  const theme = (() => {
    if (
      typeof localStorage !== "undefined" &&
      localStorage.getItem("fluffy_theme")
    ) {
      return localStorage.getItem("fluffy_theme");
    }
    if (window.matchMedia("(prefers-color-scheme: dark)").matches) {
      return "dark";
    }
    return "light";
  })();

  if (theme === "light") {
    document.documentElement.classList.remove("dark");
  } else {
    document.documentElement.classList.add("dark");
  }
  window.localStorage.setItem("fluffy_theme", theme);
</script>

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="description" content="Home of web developer Tobias Haugen" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <!-- <div
      class="h-2 bg-gradient-to-l via-green-300 from-blue-300 to-red-300 dark:opacity-50"
    > -->
    <ThemeToggler client:load />
    <Container>
      <slot />
    </Container>
    <Footer />
  </body>
</html>
