---
import PageTitle from "../components/PageTitle.astro";
import { cn } from "../utils/helpers";
import BaseLayout from "./BaseLayout.astro";

const { frontmatter } = Astro.props;
---

<BaseLayout title={frontmatter.title}>
  <PageTitle className="md:mb-8">{frontmatter.title}</PageTitle>
  <div class="text-center mb-16">
    <p>Published {frontmatter.pubDate.slice(0, 10)}</p>
    {
      frontmatter.updatedDate && (
        <p>Last updated {frontmatter.updatedDate.slice(0, 10)}</p>
      )
    }
  </div>
  <article
    class={cn(
      "prose prose-zinc dark:prose-invert lg:prose-xl mx-auto pb-16",
      "prose-code:before:hidden prose-code:after:hidden", // Remove the backticks for inline code
      "prose-a:no-underline"
    )}
  >
    <slot />
  </article>
</BaseLayout>
